In [31]:
import pandas as pd

Coordenadas = pd.read_csv("Coordenadas.csv")

Funciones para modificar los nombres y adaptarlos:

In [32]:
import re
import unicodedata

def eliminar_acentos(texto):
    # Normaliza el texto y elimina los caracteres diacríticos (acentos)
    return ''.join(
        c for c in unicodedata.normalize('NFD', texto)
        if unicodedata.category(c) != 'Mn'
    )

def transformar_texto(texto):
    texto = texto.lower()  # Convertir todo a minúsculas
    texto = eliminar_acentos(texto) #Eliminar acentos
    texto = texto.replace(' ', '-')  # Reemplaza espacios por guiones
    texto = texto.replace('nº', 'n')  # Reemplaza 'Nº' por 'n'
    texto = re.sub(r'[^a-z0-9\-"]', '', texto)  # Elimina cualquier otro carácter especial
    texto = re.sub(r'-{2,}', '-', texto)  # Reemplaza múltiples guiones por uno solo
    return texto

def limpiar_nombre(nombre):
    caracteres_invalidos = ['<', '>', ':', '"', '/', '\\', '|', '?', '*']
    for char in caracteres_invalidos:
        nombre = nombre.replace(char, '')  # O reemplazar con otro carácter válido
    return nombre

def cambio_nombre(nombre):
    nombre = transformar_texto(nombre)
    nombre = limpiar_nombre(nombre)
    return nombre

Ejecución de funciones:

In [33]:
Coordenadas["Escuela2"] = Coordenadas["Escuela"].apply(cambio_nombre)

Coordenadas["Escuela2"] = Coordenadas["Escuela2"].apply(lambda x: f"{x}.csv")

Anidado de datos, el Dataframe de cada escuela pasa a estar en la columna Datos del Dataframe Coordenadas:

In [34]:
import pandas as pd

listaErroneos = []
# Función para leer un archivo CSV dado su nombre
def leer_csv(nombre_archivo):
    try:
        df = pd.read_csv(f".//DatosEscuelas//{nombre_archivo}")
        return df
    except FileNotFoundError:
        return None  # Retorna None si el archivo no se encuentra
    except pd.errors.EmptyDataError:
        listaErroneos.append(nombre_archivo)
        return None  # Retorna None si el archivo está vacío

# Usar apply con lambda para leer los archivos y anidarlos en una nueva columna 'Datos'
Coordenadas['Datos'] = Coordenadas['Escuela2'].apply(lambda x: leer_csv(x))

# Mostrar el DataFrame resultante
Coordenadas

,Escuela,Latitud,Longitud,Escuela2,Datos
0,"ESC- Nº 3 ""DEL CENTENARIO""",-27.470343,-58.839921,esc-n-3-del-centenario.csv,...
1,"ESC- Nº 2 ""DOMINGO F- SARMIENTO""",-28.584160,-58.007192,esc-n-2-domingo-f-sarmiento.csv,...
2,"ESC- Nº 10 ""R- DE ESCALADA DE SAN MARTÍN""",-30.089582,-58.782196,esc-n-10-r-de-escalada-de-san-martin.csv,...
3,"ESC- Nº 402 ""GENARO BERÓN DE ASTRADA""",-27.483640,-58.845587,esc-n-402-genaro-beron-de-astrada.csv,...
4,"COLEGIO POLIMODAL ""IBERÁ""",-28.584160,-58.007192,colegio-polimodal-ibera.csv,...
...,...,...,...,...,...
329,"ESC- Nº 676 ""DIRECTORA BALBINA NIELLA""",-28.584160,-58.007192,esc-n-676-directora-balbina-niella.csv,...
330,"ESC- Nº 496 ""SANTIAGO MARÍA NIELLA""",-27.363799,-58.300724,esc-n-496-santiago-maria-niella.csv,...
331,"ESC- Nº 497 ""LETICIA MARTÍNEZ DE VALLEJOS""",-27.334698,-58.181281,esc-n-497-leticia-martinez-de-vallejos.csv,...
332,"ESC- PRIMARIA Nº 27 ""PAGO LARGO""",-27.550385,-57.527767,esc-primaria-n-27-pago-largo.csv,...
333,ESC- Nº 149,-28.584160,-58.007192,esc-n-149.csv,...

In [35]:
listaErroneos

[]

Almacenado de Datos como un elemento de Python:

In [36]:
import pickle

with open('Datos.pkl', 'wb') as f:
    pickle.dump(Coordenadas, f)